
html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: black;
    text-align: center;
    margin: 0;
    width: 95%;
    height: 95%;
    /* vertically center */
    margin: auto;
}

#title {
    margin-top: 10%;
}

#game-container {
    /* make all inner element's placing relative to the container */
    position: relative;
    width: 100%;
    height: 97%;
    border: 1px solid white;
    margin-top: 2%;
    overflow: hidden;
    /* background setting for potential backgrounds */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -5;
}

#notice {
    display: none;
    /* fix center start */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* fix center end */
    font-size: 2em;
    padding: 2% 5%;
    background-color: rgb(43, 43, 43);
    color: white;
    z-index: 100;
}

#notice>img {
    /* max height is half of screen height */
    max-height: 50vh;
}

#curtain {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: darkslategrey;
    transition: opacity 1s linear;
}

#curtain-headline {
    line-height: 90vh;
    text-align: center;
    color: white;
}


/* life start */

#life {
    position: absolute;
    top: 0;
    margin: 2%;
}

#life>div {
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    transform: translate3d(0, 0, 0);
}

.full-heart {
    background-image: url("../resource/heart-full.png");
}

.half-heart {
    background-image: url("../resource/heart-half.png");
    animation-name: shake;
    animation-timing-function: cubic-bezier(.36, .07, .19, .97);
    animation-iteration-count: infinite;
    animation-direction: both;
    animation-play-state: paused;
}

.empty-heart {
    background-image: url("../resource/heart-empty.png");
    animation-name: shake;
    animation-timing-function: cubic-bezier(.36, .07, .19, .97);
    animation-iteration-count: infinite;
    animation-direction: both;
    animation-play-state: running;
}

#life-value {
    padding-left: 10px;
    opacity: 1;
    animation-name: blink;
    animation-duration: 0;
    animation-iteration-count: infinite;
    animation-play-state: running;
}


/* life end */


/* block start */

#map {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -10;
    /* smooth map movement */
    transition: bottom 0.1s linear, left 0.1s ease-out;
    /*background setting*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#map>div {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}

#player {
    /* player icon */
    background-size: contain;
    background-repeat: no-repeat;
    /* smooth player movement */
    transition: bottom 0.1s linear, left 0.1s ease-out;
    /* make player always infront of other elements on the display */
    z-index: 100;
    border-bottom: 1px solid lightblue;
    /* blinks when health drop */
    opacity: 1;
    animation-name: blink;
    animation-duration: 0;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

.TARGET {
    /* target icon */
    background-image: url("../resource/rainbow.png");
}

.CONCRET {
    background-image: url("../resource/block.png");
}

.MONSTER {
    /* smooth map movement */
    transition: bottom 0.1s linear, left 0.1s ease-out;
    /* make monster between other elements  and player on the display */
    z-index: 50;
    /* blinks when health drop */
    opacity: 1;
    animation-name: blink;
    animation-duration: 0;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

.REGULAR-MONSTER {
    background-image: url("../resource/regular-monster.png");
}

.RAPID-MONSTER {
    background-image: url("../resource/rapid-monster.png");
}

.RANGE-MONSTER {
    background-image: url("../resource/range-monster.png");
}

.CHICKEN-MONSTER {
    background-image: url("../resource/chicken-monster.png");
}

.BULLET {
    /* smooth BULLET movement */
    transition: bottom 0.1s linear, left 0.1s ease-out;
}

.EGG-BULLET {
    background-image: url("../resource/egg-bullet.png");
}

.NOTE-BULLET-0 {
    background-image: url("../resource/note-bullet-0.png");
}

.NOTE-BULLET-1 {
    background-image: url("../resource/note-bullet-1.png");
}

.NOTE-BULLET-2 {
    background-image: url("../resource/note-bullet-2.png");
}

.TREASURE-ACTIVE {
    background-image: url("../resource/treasure-active.png");
}

.TREASURE-INACTIVE {
    background-image: url("../resource/treasure-inactive.png");
}

.HEALTH {
    background-image: url("../resource/health.png");
}

.JUMP {
    background-image: url("../resource/up-arrow-box.png");
}


/* block end */


/* animations start */

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

@keyframes blink {
    24%,
    49%,
    74%,
    99% {
        opacity: 0
    }
    30%,
    50%,
    75%,
    100% {
        opacity: 1
    }
}


/* animations end */